@use 'normalize' as *
@use 'fonts' as *
@use 'variables' as *
@use 'mixins' as *
@use 'animations' as *

body
  background: $primary-color
  color: $secondary-color
  font-family: $family-base

.video-bg
  width: 100%
  height: 100vh
  height: 100dvh
  padding-bottom: 70px

  @media (max-width: 992px)
    padding-bottom: 40px

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3))
    z-index: -1

  &__showreel
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    z-index: -2

  &__title
    width: fit-content
    animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both
    font-size: 40px
    text-align: center
    margin: auto
    font-family: $family-gyre
    @media (max-width: 500px)
      font-size: 32px
    @media (max-width: 420px)
      font-size: 28px
    @media (max-width: 360px)
      font-size: 24px
.header
  background: transparent
  padding: 30px 0

  overflow: hidden

  &::before
    content: ''
    position: absolute
    right: 6.5%
    top: 50%
    transform: translateY(-50%)
    width: 30px
    height: 24px
    background: url(../icon/menu.svg) no-repeat center/cover
    transition: transform 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s
    display: none

    @media (min-width: 992px)
      display: block

  &__line
    position: absolute
    content: ''
    top: 0
    left: 0
    right: 0
    height: 2px
    background: $border-color
    z-index: -1
    transform: translateY(0)
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0.1s

  .btn

    &:focus
      box-shadow: none

  &__logo
    width: 170px

    @media (max-width: 768px)
      width: 120px

  .navigate
    overflow: hidden
    height: 60px
    position: relative

    .navigate-list

      transform: translateY(40px)
      opacity: 0.3
      transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s

      &__link
        color: $secondary-color
        text-decoration: none
        padding: 0 20px
        font-size: $font-size-lg
        transition: all 0.3s ease
        font-family: $family-gyre

        &:hover
          color: $secondary-color
          text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4)
      &__link--active
        text-decoration: underline

  &__toggler
    display: block
    width: 30px
    height: 24px
    background: url(../icon/menu.svg) no-repeat center/cover
  &__offcanvas
    background: #000
    padding: 20px

    a
      font-family: $family-gyre

    a.navigate-list__link--active
      text-decoration: underline

    .offcanvas-header
      display: flex
      justify-content: center
      margin-bottom: 40px
      padding-bottom: 32px
      border-bottom: 1px solid white
      position: relative

      .btn-close
        background: transparent
        margin: 0
        position: absolute
        right: 0
        top: -8px
        opacity: .8

      &__logo
        width: 40px
        margin-right: 6px
      span
        line-height: 16px
        letter-spacing: 2px
        font-family: $family-gyre
        font-weight: bold

  @media (min-width: 992px)
    &:hover
      cursor: pointer

      .header__line
        transform: translateY(119px)
        transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s

      .navigate-list
        transform: translateY(0)
        opacity: 1
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s

      &::before
        transform: translateY(-50%) translateX(500%)
// header end

// main start

main

.slider

  &__cont
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55)
    width: auto

  &__btn
    position: absolute
    top: 50%
    width: 40px
    height: 40px
    background: url("../icon/arrow.svg") no-repeat center / cover
    border: none

  &__btn-prev
    left: -25px
    transform: translateY(-50%) rotate(180deg)
    @media (max-width: 575px)
      left: 0px

  &__btn-next
    right: -25px
    transform: translateY(-50%)
    @media (max-width: 575px)
      right: 0px
  &__item
    flex: 0 0 calc((100% - 72px) / 4)
    min-width: 0
    flex-shrink: 0
    overflow: hidden

    @media (max-width: 1199px)
      flex: 0 0 calc((100% - 48px) / 3)

    @media (max-width: 990px)
      flex: 0 0 calc((100% - 24px) / 2)

    @media (max-width: 575px)
      flex: 0 0 100%
      

    img
      width: 100%
     
      display: block

    @media (max-width: 575px)
      
      
      

  &__link
    text-decoration: none
    color: $secondary-color
    &:hover
      color: $accent-color
    &:visited
      color: $secondary-color


  &__descr
    border: 1px solid #fff
    border-top: 0
    
